{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}

<nav id='navBar'>nav</nav>

<div class='map'>

    <p>Map</p>


<div class='container'>
  <div class = 'row'>
    <div class = 'col-lg-3 box1'>
    <p>Box1</p>
    </div>
  </div>
</div>

<div class='container'>
  <div class = 'row'>
    <div class = 'col-lg-3 box2'>
    <p>Box2</p>
    </div>
  </div>
</div>


</div>















<!--<ul>
{% for hotel in Hotel %}
<li>{{hotel.name}}</li>
{% endfor %}
</ul>
<ul>
{% for rest in Restaurant %}
<li>{{rest.name}}</li>
{% endfor %}
</ul>
<ul>
{% for act in Activity %}
<li>{{act.name}}</li>
{% endfor %}
</ul>

{% endblock %}-->
